<!DOCTYPE html>
<html xmlns:DA="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>USERS</title>
</head>

<body>

<h2>User table</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Age</th>

    </tr>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td><a th:href="@{users/edit/{id}(id = ${user.id})}">edit</a></td>
        <td><a th:href="@{users/delete/{id}(id = ${user.id})}">delete</a></td>

    </tr>
    </tbody>
    <!--    </c:forEach>-->
</table>

<p><a href="/users/add">Add new User</a></p>


</body>
</html>